<!-- <form action="/process" method="post" onsubmit="postData();">
    <div>
        <label for="quantity">Display the</label>
        <select id="sortKey1SelectOrder" name="sort_key_1_select_order" default="top">
            <option value="asce">top</option>
            <option value="desc">bottom</option>
        </select>
        <input type="number" id="quantity" name="quantity" min="0" max="500">
        <label for="sortKey1Select">, by: </label>
        <select id="sortKey1Select" name="sort_key_1_select" default="entropy">
            {% for sort_key in sort_keys %}
            <option value="{{ sort_key }}">{{ sort_key }}</option>
            {% endfor %}
        </select> -->
        <!-- minimum entropy input -->
        <!-- <label for="minimum_entropy">, with a minimum of: </label>
        <input type="number" id="minimum_entropy" name="minimum_entropy" min="0" max="500"> -->

        <!-- minimum file size input -->
        <!-- <label for="minimum_file_size"> entropy, and a minimum file size of: </label>
        <input type="number" id="minimum_file_size" name="minimum_file_size" min="0" max="500"> -->

        <!-- <label for="sortKey2Select">MB, sorted by: </label>
        <select id="sortKey2Select" name="sort_key_2_select">
            {% for sort_key in sort_keys %}
            <option value="{{ sort_key }}">{{ sort_key }}</option>
            {% endfor %}
        </select> -->

        <!-- project input -->
        <!-- <label for="projectSelect">, in the project:</label>
        <select id="projectSelect" name="selected_project">
            {% for project in projects %}
            <option value="{{ project.name }}">{{ project.name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Generate</button>
    </div>

</form> -->