<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Bootstrap Config Panel</title> -->
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>

<!-- <button class="openConfigButton" style="display: inline;" >Open Configuration</button> -->
<button onclick="toggleConfigPanel()" type="button" class="btn btn-secondary">
    <i class="fas fa-cog"></i> Config
</button>


<div id="overlay"></div>

<div id="configPanel" class="container">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <div class="form-group">
        <label class="configPanelLabel" for="recursiveModeToggle">Recursive Mode:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="recursiveModeToggle" name="recursiveModeToggle">
            <label class="form-check-label" for="recursiveModeToggle">Enable</label>
        </div>
        <p class="configPanelDescription">When disabled, only up to secondary dependencies of the main packages are listed and it is O(1) calculation in terms of the total store paths (this is what Mike originally suggested)</p>
    </div>

    <div class="form-group">
        <label class="configPanelLabel" for="exponentialBackOffToggle">Nar Info Request Exponential Backoff:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="exponentialBackOffToggle" name="exponentialBackOffToggle">
            <label class="form-check-label" for="exponentialBackOffToggle">Enable</label>
        </div>
        <p class="configPanelDescription">When enabled, exponential backoff will be used for each nar info request so this should be enabled when the completeness of the calculation is more important than the speed at which it is performed.</p>
    </div>

    <div class="form-group">
        <label class="configPanelLabel" for="advancedEntropyModeToggle">Advanced Entropy Mode:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="advancedEntropyModeToggle" name="advancedEntropyModeToggle">
            <label class="form-check-label" for="advancedEntropyModeToggle">Enable</label>
        </div>
        <p class="configPanelDescription">When enabled, the entropy is calculated based on how many instances there are of a package changing, when disabled entropy is calculated based on how many different store paths there are for a package.</p>
    </div>

    <div class="form-group">
        <label class="configPanelLabel" for="approximateUncalculatedJobsetsToggle">Approximate Uncalculated Jobsets Mode:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="approximateUncalculatedJobsetsToggle" name="approximateUncalculatedJobsetsToggle">
            <label class="form-check-label" for="approximateUncalculatedJobsetsToggle">Enable</label>
        </div>
        <p class="configPanelDescription">When enabled, the entropy for the uncalculated jobsets is linearly approximated.</p>
    </div>

    <button class="btn btn-primary openConfigButton" onclick="saveConfig()">Save Configuration</button>
</div>

<script src="{{ url_for('static', filename='scripts/config_button.js') }}"></script>
