<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Layout</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h2 class="mb-4">Package Explorer</h2>
    <form id="myForm" onsubmit="explorePackages();">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="quantity">Display the:</label>
                <select class="form-control" id="sortKey1SelectOrder" name="sort_key_1_select_order" default="top">
                    <option value="asce">top</option>
                    <option value="desc">bottom</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="quantity">&nbsp;</label>
                <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="500" value="40">
            </div>
            <div class="form-group col-md-3">
                <label for="sortKey1Select">by:</label>
                <select class="form-control" id="sortKey1Select" name="sort_key_1_select" default="entropy">
                    {% for sort_key in sort_keys %}
                    <option value="{{ sort_key }}">{{ sort_key }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="container" class="form-row">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="addDiv()">Add</button>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="sortKey2Select">Sorted by:</label>
                <select class="form-control" id="sortKey2Select" name="sort_key_2_select">
                    {% for sort_key in sort_keys %}
                    <option value="{{ sort_key }}">{{ sort_key }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="projectSelect">In the project:</label>
                <select class="form-control" id="projectSelect" name="selected_project">
                    {% for project in projects %}
                    <option value="{{ project.name }}">{{ project.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button id="generatePackageListBtn" type="submit" class="btn btn-success">Generate Package List</button>
    </form>
    <!-- Bootstrap JS (Optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>


<script>
    document.getElementById('myForm').addEventListener('submit', function (event) {
        // Prevent the form from submitting immediately
        event.preventDefault();
    });

</script>


<script>

    var sortKeys = '{{ sort_keys }}';
    const inputString = '{&#39;entropy&#39;, &#39;dependency_weight&#39;, &#39;file_size&#39;, &#39;reverse_dependency_weight&#39;}';

    // Decode HTML entities
    const decodedString = new DOMParser().parseFromString(`<!doctype html><body>${inputString}`, 'text/html').body.textContent;

    // Extract keys using regular expression
    const keyPattern = /'([^']*)'/g;
    const extractedKeys = [];
    let match;

    while ((match = keyPattern.exec(decodedString)) !== null) {
        extractedKeys.push(match[1]);
    }

    var selectOptions = '';
    for (var i = 0; i < extractedKeys.length; i++) {
        console.log(extractedKeys[i])
        selectOptions += '<option value="' + extractedKeys[i] + '">' + extractedKeys[i] + '</option>';
    }
    function addDiv() {
        var container = document.getElementById('container');
        var newDiv = document.createElement('div');
        newDiv.innerHTML = `
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="minimum_entropy">With a:</label>
            <select class="form-control" id="extremumSelect" name="extremum_select" default="minimum">
                <option value="minimum">minimum</option>
                <option value="maximum">maximum</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="filterKeySelect">&nbsp;</label>
            <select class="form-control" id="filterKeySelect" name="filter_key_select" default="minimum">
                <!-- Replace this with your backend logic to populate options -->
                ${selectOptions}
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="filter_value">Of:</label>
            <input type="number" class="form-control" id="filter_value" name="filter_value" min="0" max="500">
        </div>
        <div class="form-group col-md-1 align-self-end">
            <button type="button" class="btn btn-danger" onclick="removeDiv(this)">Remove</button>
        </div>
    </div>
`;

        container.appendChild(newDiv);
    }

    function removeDiv(button) {
        var container = document.getElementById('container');
        var divToRemove = button.parentNode;
        container.removeChild(divToRemove);
    }
</script>

<script>

    var defaultSelectedValue1 = '{{ selected_sort_key_1 }}';

    // second sort key

    var defaultSelectedValue2 = '{{ selected_sort_key_2 }}';

    // project 

    var defaultSelectedProject = '{{ selected_project }}';

    // select

    var defaultValue = '{{ selected_quantity }}';

    // minimum entropy

    var defaultMinimumEntropyValue = '{{ default_minimum_entropy }}';

    // minimum file size

    var defaultMinimumFileSizeValue = '{{ default_minimum_file_size }}';

</script>
